/* General */
$fontSize:14px;
$bodyBgColor:#20262e;
$cardBgColor: #2a323d;
$textColor:#ffffffde;
$textSecondaryColor:#ffffff99;
$borderRadius:3px;
$dividerColor:#2a323d;
$transitionDuration:.2s;
$maskBgColor:#00000066;
$focusShadowColor:#e3f3fe;

/* Menu Common */
$menuitemBadgeBgColor:#7fd8e6;
$menuitemBadgeColor:#151515;
$submenuFontSize:13px;
$menuitemActiveRouteColor:#7fd8e6;

/* Menu Light */
$menuBgColorFirst:#2a323d;
$menuBgColorLast:#2a323d;
$menuitemColor:#ffffffde;
$menuitemHoverColor:#7fd8e6;
$menuitemActiveColor:#ffffffde;
$menuitemActiveBgColor:#20262e;
$menuitemBorderColor:#3f4b5b;

/* Menu Dark */
$menuDarkBgColorFirst:#2a323d;
$menuDarkBgColorLast:#2a323d;
$menuitemDarkColor:#ffffffde;
$menuitemDarkHoverColor:#7fd8e6;
$menuitemDarkActiveColor:#ffffffde;
$menuitemDarkActiveBgColor:#20262e;
$menuitemDarkBorderColor:#3f4b5b;

/* Topbar */
$topbarLeftBgColor:#2a323d;
$topbarRightBgColor:#2a323d;
$topbarItemBadgeBgColor:#7fd8e6;
$topbarItemBadgeColor:#151515;
$topbarItemColor:#ffffffde;
$topbarItemHoverColor:#ffffff99;
$topbarSearchInputBorderBottomColor:#ffffff99;
$topbarSearchInputColor:#ffffffde;

/* Footer */
$footerBgColor:#2a323d;
